body {
	background-color: orangered;
}

html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.counter-ticker {
	color: #fff;
	font-size: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 23px;
}
